@page
@model MyCoreApp.Pages.Employee.IndexModel
@{
    ViewData["title"] = "View data employees";
}

<br />
<h2>List of employees</h2>
<a class="btn btn-primary btn-sm" href="~/Employee/Create">New employee</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>CreatedTime</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listEmployee)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Employee/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Employee/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>